repos:
  # initialization with: pre-commit install
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # initialization with: pre-commit install
  - repo: https://github.com/crate-ci/typos
    rev: v1.13.7
    hooks:
      - id: typos
        args: []

  # initialization with: pre-commit install --hook-type commit-msg
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
